// ==============================================
// Colors
// ==============================================
$color-primary: #ff27f2;
$color-primary-focus: #f8159b;
$color-secundary: #eb8ae5;
$color-secundary-focus: blue;

$color-menu-font: #a674a3;


// ==============================================
// Sizes
// ==============================================
$screen-xs-min: 0px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;