/*
Error: File to import not found or unreadable: pv/base.
       Load paths:
         Compass::SpriteImporter
         C:/xampp/htdocs/IEN/assets/scss
         C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets
        on line 10 of C:/xampp/htdocs/IEN/assets/scss/../scss/styles.scss

5: 
6: 
7: // ==============================================
8: // Primeiro V├¡nculo Feel
9: // ==============================================
10: @import "pv/base"

Backtrace:
C:/xampp/htdocs/IEN/assets/scss/../scss/styles.scss:10
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/import_node.rb:66:in `rescue in import'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/import_node.rb:45:in `import'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/import_node.rb:28:in `imported_file'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/import_node.rb:37:in `css_import?'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/stack.rb:79:in `with_base'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/engine.rb:268:in `render'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:293:in `watch'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/lib/compass/sass_compiler.rb:46:in `watch!'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/lib/compass/commands/watch_project.rb:41:in `perform'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/bin/compass:44:in `call'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
C:/Ruby21-x64/bin/compass:23:in `load'
C:/Ruby21-x64/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: pv/base.\A        Load paths:\A          Compass::SpriteImporter\A          C:/xampp/htdocs/IEN/assets/scss\A          C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets\A         on line 10 of C:/xampp/htdocs/IEN/assets/scss/../scss/styles.scss\A \A 5: \A 6: \A 7: // ==============================================\A 8: // Primeiro V├¡nculo Feel\A 9: // ==============================================\A 10: @import \"pv/base\""; }
