// ==============================================
// Imports
// ==============================================
@import "homepage";



// ==============================================
// General
// ==============================================
body {
	font-family: "Noto Sans";
}
a {
	color: $color-primary;

	&:hover {
		color: $color-primary-focus;
	}
}

// ==============================================
// Header
// ==============================================
header {
	.topbar {
		box-shadow: 0 6px 10px -7px rgb(197, 111, 255);
		height: 200px;
	}

	.right {
		// Mobile
		@media (max-width: $screen-lg-min) {
			display: none;
		}
	}

	.logo {
		float: none;
		margin: 0 auto;	
		background: url("../img/topbar-bg.jpg") bottom right no-repeat;
		background-position-y: 4px;
		min-width: 470px;
		min-height: 200px;

		@media (min-width: $screen-lg-min) {
			float: right;
		}

		.first, .last {
			font-family: "Poiret One";
			color: $color-primary;
			display: block;
		}
		.first {
			font-size: 66px;
		}
		.last {
			margin-top: -24px;
			font-size: 58px;
		}
		.slogan {
			color: $color-secundary;
			font-size: 16px;
		}
	}

	.search {
		margin-top: 66px;
		height: 34px;
		
		.input-group {
			float: right;
			input {
				float: right;
				width: 300px;
				transition: 0.4s;
				color: #eee;
				&:focus {
					color: #444;
					transition: 0.3s;
					width: 380px;
					box-shadow: 0 0 8px -3px $color-secundary;
					border: 1px solid lighten($color-secundary, 5%);
				}
			}
		}
		.input-group-btn  {
			padding-left: 1px;
		}
	    .btn {
	    	color: white;
	    	box-shadow: 0 10px 39px rgba(255, 215, 215, 0.62) inset;
			background: rgb(229, 136, 255);
			border: 1px solid $color-secundary;
			transition: 0.2s;
			&:hover {
				box-shadow: 0 10px 39px rgba(255, 215, 215, 0.90) inset;
				border: 1px solid lighten($color-secundary, 5%);
			}
	    }
	}

	.nav {
		margin-top: 66px;

		a {
			border-top: 2px solid lighten($color-secundary, 15%);
			color: $color-menu-font;
			padding: 6px 15px;
			display: block;
			transition: 0.3s; 
			&:hover {
				text-decoration: none;
				color: white;
				background: lighten($color-secundary, 10%);
				border-top: 2px solid lighten($color-secundary, 10%);
			}

		}
		ul {
			list-style: none;
			margin-top: 0;
			margin-bottom: 0;
			float: right;
		}
		li {
			float: left;
			margin-right: 10px;
		}
	}
}


// ==============================================
// Main
// ==============================================
.main {
	margin-top: 50px;
}